   {% load static %}
   <nav class="bg-gray-800">
        <div class="container flex">
            <div class="px-8 py-4 bg-primary md:flex items-center cursor-pointer relative group hidden">
                <span class="text-white">
                    <i class="fa-solid fa-bars"></i>
                </span>
                <span class="capitalize ml-2 text-white hidden">All Categories</span>

                <!-- dropdown -->
                <div
                    class="absolute w-full left-0 top-full bg-white shadow-md py-3 divide-y divide-gray-300 divide-dashed opacity-0 group-hover:opacity-100 transition duration-300 invisible group-hover:visible">
                    {% for category in links %}
                    <a href="{{category.get_url}}" class="flex items-center px-6 py-3 hover:bg-gray-100 transition">
                        <span class="ml-6 text-gray-600 text-sm">{{ category.category_name }}</span>
                    </a>
                    {% endfor %}
                </div>
            </div>

            <div class="flex items-center justify-between flex-grow md:pl-12 py-5">
                <div class="flex items-center space-x-6 capitalize">
                    <a href="{% url 'index' %}" class="text-gray-200 hover:text-white transition">Home</a>
                    <a href="{% url 'shop' %}" class="text-gray-200 hover:text-white transition">Shop</a>
                    <a href="#" class="text-gray-200 hover:text-white transition">About us</a>
                    <a href="#" class="text-gray-200 hover:text-white transition">Contact us</a>
                </div>
                {% if user.id is None %}
                <div class="">
                    <a href="{% url 'login' %}" class="text-gray-200 hover:text-white transition">Login</a>
                    <a class="text-gray-200 hover:text-white transition">|</a>
                <a href="{% url 'register' %}" class="text-gray-200 hover:text-white transition">Register</a>
                </div>
                {% else %}
                <div class="">
                    <a href="{% url 'logout' %}" class="text-gray-200 hover:text-white transition">Logout</a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
    </nav>

    