{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce PToject</title>

    <link rel="shortcut icon" href="static/images/favicon/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.0/css/all.min.css" />

</head>

<body>
    <!-- header -->
    {% include "header.html" %}
    <!-- ./header -->

    <!-- navbar -->
  
    {% include "navbar.html" %}
    <!-- ./navbar -->

    <!-- login -->
    <div class="contain py-16">
        <div class="max-w-lg mx-auto shadow px-6 py-7 rounded overflow-hidden">
            <h2 class="text-2xl uppercase font-medium mb-1">Reset Password</h2>
            {% include "alert.html" %}
            <form action="{% url 'resetPassword' %}" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="space-y-2">
                    <div>
                        <label for="password" class="text-gray-600 mb-2 block">Create Password</label>
                        <input type="password" name="password" id="password"
                            class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                            placeholder="Create password" />
                    </div>
                    <div>
                        <label for="password" class="text-gray-600 mb-2 block">Confirm Password</label>
                        <input type="password" name="confirm_password" id="password"
                            class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                            placeholder="Confirm_password" />
                    </div>
                </div>
                <div class="mt-4">
                    <button type="submit"
                        class="block w-full py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium">Reset Password</button>
                </div>
            </form>

            <!-- login with -->
            <!-- ./login with -->

            <p class="mt-4 text-center text-gray-600">Don't have account? <a href="{% url 'register' %}"
                    class="text-primary">Register
                    now</a></p>
        </div>
    </div>
    <!-- ./login -->

    <!-- footer -->
    {% include "footer.html" %}
    <!-- ./footer -->

    <!-- copyright -->
    <div class="bg-gray-800 py-4">
        <div class="container flex items-center justify-between">
            <p class="text-white">&copy; TailCommerce - All Right Reserved</p>
            <div>
                <img src="{% static 'images/1.png'%}" alt="methods" class="h-5">
            </div>
        </div>
    </div>
    <!-- ./copyright -->

</body>

</html>